<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <p></p>Team Name: <input type="text" name="team_name">
     Coach: <input type="text" name="coach">
     Point Guard: <input type="text" name="point_guard">
     Team Name: <input type="text" name="shooting_guard">
     Team Name: <input type="text" name="small_forward">
     Team Name: <input type="text" name="power_forward">
     Team Name: <input type="text" name="center">
     <input type="submit">
   </form>
 </body>
</html>


